/* entire section start */
.entiresection-wrapper {
  width: 600px;
  height: 100%;
  margin: 0 auto;
}
/* entire section end */

/* header section start */
.header-wrapper {
  background-image: url("./../images/headerbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
}

.header-wrapper img {
  margin-top: 61px;
}
/* header section end */

/* testing report section start */
.test-report-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
  text-align: center;
  text-transform: uppercase;
}

/* .testing-report-wrapper  .report-container {
    width: 80%;
    margin: 0 auto;
} */

.testing-report-wrapper .manufacture-container {
  width: 83%;
  margin: 0 0 0 auto;
}

.testing-report-wrapper .manufacture-container span {
  background-color: #3dbf88;
  width: 33px;
  height: 33px;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
}

.testing-report-wrapper .expiry-container {
  width: 83%;
  margin: 0 auto 0 0;
}

.testing-report-wrapper .expiry-container span {
  background-color: #bf3d3d;
  width: 33px;
  height: 33px;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
}

.testing-report-wrapper .manufacture-date {
  box-shadow: 2px -2px 23px -12px #1f80c5;
  border-radius: 5px;
  padding: 40px 0;
}

.testing-report-wrapper .manufacture-date p {
  font-size: 13px;
  font-weight: 600;
  color: #000;
  margin: 5px 0;
  padding: 0;
  text-align: center;
  line-height: 12px;
}

.testing-report-wrapper .manufacture-date h4 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* testing report section end */

.modal-wrapper {
  box-shadow: 2px -2px 23px -12px #1f80c5;
  width: 80%;
  padding: 16px 0;
  margin: 10px auto 5px auto;
  text-align: center;
}

.btn-close {
  display: none;
}

/* table section start */
.table-wrapper {
  box-shadow: 2px -2px 23px -12px #1f80c5;
  margin-top: 30px;
  width: 80%;
  margin: 10px auto 5px auto;
}

.table-wrapper table th {
  border-bottom: 1px solid #e4e4e4;
  padding: 0.75rem 0 0.75rem 2.5rem;
}

.table-wrapper table td {
  border: none;
  font-weight: 700;
  font-size: 12px;
  padding: 0.75rem 0 0.75rem 2.5rem;
}

.datePicker input {
  width: 180px;
  border: 3px solid #bfecff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  background: transparent;
  z-index: 1;
}

.datePicker input:focus {
  border: 3px solid #45c7ff;
}

.react-datepicker__input-container {
  display: flex;
  align-items: center;
}

.react-datepicker__view-calendar-icon input {
  padding-left: 12px;
}

.react-datepicker {
  border: 1px solid #35c4ff;
}

.react-datepicker__header {
  background-color: #e4f5fc;
  border-bottom: 1px solid #35c4ff;
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  border-bottom-color: #e4f5fc;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 8px;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-weight: 500;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: #35c4ff;
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  border-bottom-color: #35c4ff;
}

.react-datepicker__navigation:hover *::before {
  border-color: #0096d6;
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  right: 0;
  z-index: 0;
}

.react-datepicker__calendar-icon {
  width: 1.2em;
  height: 1.2em;
}

.report-container {
  margin-top: 18px;
}

/* link wrapper start  */
.link-wrapper {
  text-decoration: none;
  font-size: 9px;
  font-weight: 500;
  padding-bottom: 5px;
}
/* link wrapper end */

/* table section end  */

/* copyright section start */
.copyright-section {
  margin-top: 20px;
}
.copyright-section p {
  text-align: center;
  font-size: 9px;
  font-weight: 500;
}
/* copyyright section end */

@media only screen and (max-width: 600px) {
  .entiresection-wrapper {
    width: auto;
    height: 100%;
  }
  .header-wrapper {
    width: auto;
    /* height: 100%; */
  }
  /* .header-wrapper img {
    margin-top: 10px;
  } */
}
